.auth-title {
  font-size: 40px;
  line-height: 120%;
  margin-top: 110px;
}

.auth-description {
  font-size: 20px;
  line-height: 133%;
  margin-top: 20px;
}

.auth-form {
  padding: 20px 0;

  &__logo {
    margin-bottom: 56px;
    display: block;
  }

  &__title {
    margin-bottom: 42px;
    font-size: 18px;
    font-weight: 500;
  }

  &__link {
    margin-top: 30px;
  }

  button[type='submit'] {
    margin-top: 56px;
  }
}
